<ul id="sharing-menu" class="menu social-menu">
  {% for link in links %}
    <li><a href="{{ link.uri }}" {{ link.attributes }} ><span class="element-invisible">{{ link.title }}</span></a></li>
  {% endfor %}
</ul>